body{
    background-color: blue;
    height: 10rem;
}

.sect{
    width: 100px;
    height: 100px;
    text-align: center;
}

#ne{
    background-color: aqua;
    transform: inherit;
    opacity: 0.5;
    width: 10rem;
    height: 200px;
}